<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <form class="ui form" action="" method="post" th:object="user">
            <div class="field">
                <label>用户名</label>
                <input type="text" name="name" placeholder="请输入用户名" required th:value="*{name}">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="text" name="pwd" placeholder="请输入密码" required th:value="*{pwd}">
            </div>

            <button class="ui button" type="submit">提交</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>
